.editProfile{
	height: 900px;
}

h4 {
	font-size: 0.9em;
}

.editProfile .profileBigPicture{
	margin-top: 40px;
	margin-left: 0px;
}


.editProfile .profileBig {
	margin-top: 10px;
	display: inline-block;
}
.enterName {

}
.enterBio {
	display: block;
}


.saveLink {
	width: inherit;
	display: inline-block;
	background-color: #E971CB;
	text-align: center;
	font-size: 20px;
	float: right;
	padding: 7px;
}
