<template name="profile">
	{{> profileHeader }}

	{{> profileTableView }}
	{{> statusFooter}}
</template>

<template name="profileTableView">
	<div class="content" style="margin-bottom: 50px;">
		<div class="card" style="padding: 12px;">
			{{> profileInfo }}
		</div>
		<ul class="table-view">
			<li class="table-view-cell table-view-divider">Activity</li>
			{{#if currentUsersIsInstructor}}
				{{> profileActivity}}
			{{else}}
				{{> profilePosts}}
			{{/if}}
		</ul>
	</div>
</template>

<template name="profileInfo">
	<table>
		<tr>
			<td>{{> getBigProfilePic}}</td>
			<td style="text-align: center; width: 100%;"><h3>{{> userName}}</h3></td>
		</tr>
	</table>
		<p style="width: 100%;">
			<center>
				{{> personalInfo}}
			</center>
		</p>

	{{> editProfileLink}}
</template>


<template name="userName">
	{{user_name _id}}
</template>

<template name="editProfileLink">
	{{#if isMyProfile _id}}
		{{> linkToEditProfile}}
	{{/if}}
</template>

<template name="personalInfo">
	{{> acedemics}}
	{{> bio}}
	{{> interestedIn}}
	{{> genderAndSexuality}}
</template>


<template name="acedemics">
	<div class="acedemics">
		<div>{{getAcedemic _id}}</div>
		<div>{{getAcedemicMajor _id}}</div>
	</div>
</template>

<template name="bio">
	<div class="bio">
		{{getBio _id}}
	</div>
</template>

<template name="interestedIn">
	<div class="interestedIn">
		{{getInterests _id}}
	</div>
</template>

<template name="genderAndSexuality">
	<div class="genderAndSexuality">
		{{getGender _id}}
	</div>
</template>


<template name="linkToEditProfile">
	<a href="{{pathFor 'editProfile'}}" class="btn btn-primary btn-block btn-outlined">
		Edit Profile
	</a>
</template>



<template name="profileActivity">
	<div class="postlist">
		{{#each posts _id}}
			{{> post}}
		{{else}}
			<li class="table-view-cell"><strong>No activity yet.</strong></li>
		{{/each}}
	</div>
</template>



<template name="profilePosts">
	<div class="postlist">
		{{#each posts _id}}
			{{> post}}
		{{else}}
			<li class="table-view-cell"><strong>No activity yet.</strong></li>
		{{/each}}
	</div>
</template>


<template name="getProfilePicOrName">
	{{> profilePicture}}
	{{> username}}
</template>

<template name="getName">
	{{> username}}
</template>

<template name="getBigProfilePic">
	{{#if hasPicture _id ownedBy}}
		{{> profileBigPicture}}
	{{else}}
		<img src="/img/profile.png" style="width: 64px; height: 64px;"/>
	{{/if}}
</template>

<template name="getBigProfilePicForUser">
	{{#if hasPicture _id}}
		{{> profileBigPictureForUser}}
	{{else}}
		<img src="/img/profile.png" style="width: 64px; height: 64px;"/>
	{{/if}}
</template>


<template name="profilePicture">
	<div class="profilePicture">
		<a href="{{pathFor 'profile'}}" data-id="{{ownedBy}}" >
			{{#if hasPicture _id ownedBy}}
				<img class="profile-pic" src="{{getUrl _id ownedBy}}" />
			{{else}}
				<img class="profile-pic" src="/img/profile.png" />
			{{/if}}
		</a>
	</div>
</template>

<template name="tableViewProfilePic">
	<a href="{{pathFor 'profile'}}" data-id="{{ownedBy}}" >
		{{#if hasPicture _id ownedBy}}
		<img class="media-object pull-left" src="{{getUrl _id ownedBy}}" style="width: 36px;" />
		{{else}}
		<img class="media-object pull-left" src="/img/profile.png" style="width: 36px;" />
		{{/if}}
	</a>
</template>


<template name="profileBigPicture">
	<div class="profileBigPicture">
		<a href="{{pathFor 'profile'}}" data-id="{{ownedBy}}" >
			<img src="{{getUrl _id ownedBy}}" class="profileBigPicture">
		</a>
	</div>
</template>

<template name="profileBigPictureForUser">
	<div class="profileBigPictureLike">
		<a href="{{pathFor 'profileId'}}" data-id="{{_id}}" >
			<img src="{{getUrl _id}}" class="profileBigPicture">
		</a>
	</div>
</template>
