/* CSS declarations go here */

a {
  color: black;
}

h1 {
  font-size: 20px;
  margin-top: 2px;
  display: inline;
}

#header {
	background-color: #E971CB;
  top: 0;
  width: 100%;
  position:fixed;
  text-align: center;
}

.femFeedHeader {
  text-align: center;
  position: relative;
  right: 27px;
}

.statusHeader {
  width: 100%;
  background-color: white;
}

.likesHeader {
  text-align: center;
  position: relative;
  right: 27px;
}

.postHeader {
  position: relative;
  right: 42px;
}

.profileHeader {
  position: relative;
  right: -2px;
}

.profileHeaderCenter {
  position: relative;
  left: 10px;
}

#footer {
  width: 100%;
  background: #E971CB;
  position: fixed;
  bottom: 0;
  height: 40px;
  font-size: 75%;
}

.left {
  float:left;
  text-align: center;
  width:33%;
}

.middle {
  float:left;
  text-align: center;
  width:34%;
}

.right {
  float:left;
  text-align: center;
  width:33%;
}

.loading {
}

.notFound{
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  background-color: black;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#outer {
  width: 100%;
  padding: 70px 0 50px 0;
  margin: 0 auto;
  position:relative;
}

.login {
	position:fixed;
	right:90px;
	margin-right: 50px;

}


.details, .none {
  font-weight: bold;
  font-size: 1em;
  border-style: dashed none none none;
  border-color: #ccc;
  border-width: 4px;
  margin: 50px 10px;
  padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}

.details {
  margin-top: -18px;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: .4;
}

.invite-row .invite {
  margin: 10px 10px 10px 0;
}

.notFoundMessage {
  margin: 50px;
}

.backButton {
  display: inline-block;
  float: left;
  width: 60px;
}


input.chosen {
  font-weight: bold;
}

.attribution {
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 3px;
  padding-bottom: 0;
}

.splitPage {
  text-align: center;
  font-size: 30px;
  height: 300px;
}

.femFeedLink {
  background-color: #E971CB;
  margin: 0px 20px 20px 20px;
  padding: 64px 0;
}

.wikiLink {
  background-color: #E971CB;
  margin: 20px;
  padding: 56px 0; /*Different from .femFeedLink because of padding in html*/
}

.LinkLiteral {
  position: relative;
  top: 14px;
}

.longLogoImage {
  padding: 20px 30px;
}

.splash {
  background-color: #E971CB;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("/img/splash.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: 50% 50%;
}
